.category {
  padding: .1rem .6rem;
  border: 2px solid;
  box-shadow: 1px rgba(0, 0, 0, 0.144);
  border-radius: 50px;
  font-weight: 500;
  display: inline-block;
}

.wish-filter {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 0;
}

.sort-select {
  max-width: 6rem;
}

.category-filter {
  display: flex;
  gap: 5px;
}

.category-filter span {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-areas: "1fr 1fr 1fr 1fr";
  justify-content: space-between;
  justify-items: center;
}

.card {
  margin-bottom: 2rem;
}

.misc {
  border-color: rgba(17, 133, 61, 0.74);
  color: rgb(37, 134, 45);
  background-color: rgba(56, 211, 89, 0.308);
}

.device {
  border-color: gray;
  color: rgb(104, 104, 104);
  background-color: rgba(128, 128, 128, 0.233);
}

.game {
  border-color: rgba(34, 38, 255, 0.74);
  color: rgb(83, 70, 252);
  background-color: rgba(96, 68, 255, 0.308);
}

.music {
  border-color: rgb(241, 129, 129);
  color: rgb(255, 101, 101);
  background-color: rgba(255, 68, 68, 0.219);
}

.decoration {
  border-color: rgba(122, 133, 17, 0.74);
  color: rgb(132, 134, 37);
  background-color: rgba(208, 211, 56, 0.308);
}

.course {
  border-color: rgba(133, 87, 17, 0.74);
  color: rgb(134, 89, 37);
  background-color: rgba(211, 149, 56, 0.308);
}

.card-img-top {
  width: 100%;
  height: 12rem;
  object-fit: contain;
}

@media screen and (max-width: 1199px) {
  .grid {
    grid-template-areas: "1fr 1fr 1fr";
  }
}

@media screen and (max-width: 991px) {
  .grid {
    grid-template-areas: "1fr 1fr";
  }
}

@media screen and (max-width: 554px) {
  .grid {
    grid-template-areas: "1fr";
  }
}